@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Secular+One&family=Work+Sans&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;

}

html {
  height: 100%;
  background-color: #f3f4f6;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #23272f;
  color: black;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}